<h1>New user</h1>

<% form_for @user, :html => { :multipart => true } do |form| %>
  <%= form.error_messages %>

  <%= form.file_field :avatar %>
  <%= form.file_field :pic1 %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
